li {
    background-color: red;
}
.html{
    background-color: aqua;
}
.html{ 
    background-color: darkkhaki !important;
}
#html{
    background-color: blueviolet;
}
li {
    background-color: yellow;
}
li {
    background-color:orange;
}
li {
    background-color: darkgreen;
 }
